body {
    font-family: 'Tilt Prism', cursive;
    background: purple;
    text-shadow: 2px 2px black;
    color: white;
    text-align: center;
    font-weight: bold;
}

p{
    font-size: 40px;
}
h1 {
    color: goldenrod;
    font-size: 80px;
}

#message-el {
    font-style: italic;
}

button {
    display: block;
    margin: 15px auto;
    color: #016f32;
    width: 400px;
    height: 50px;
    font-size: 40px;
    background: goldenrod;
    padding: 7px 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}
